@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green-1: 120, 100%, 99%;
    --green-2: 127, 60%, 97%;
    --green-3: 128, 65%, 93%;
    --green-4: 129, 61%, 89%;
    --green-5: 130, 60%, 83%;
    --green-6: 131, 56%, 76%;
    --green-7: 133, 54%, 65%;
    --green-8: 143, 73%, 44%;
    --green-9: 142, 71%, 45%;
    --green-10: 147, 100%, 36%;
    --green-11: 138, 100%, 26%;
    --green-12: 138, 64%, 15%;
    --neutral-1: 0, 0%, 100%;
    --neutral-2: 240, 20%, 98%;
    --neutral-3: 225, 14%, 95%;
    --neutral-4: 228, 12%, 92%;
    --neutral-5: 230, 11%, 89%;
    --neutral-6: 233, 11%, 86%;
    --neutral-7: 234, 11%, 82%;
    --neutral-8: 231, 10%, 75%;
    --neutral-9: 231, 6%, 57%;
    --neutral-10: 231, 5%, 53%;
    --neutral-11: 234, 5%, 40%;
    --neutral-12: 230, 9%, 13%;
    --ring: 0 0% 3.9%;
    --destructive: 0 100% 50%;
  }

  .dark {
    --green-1: 129, 41%, 3%;
    --green-2: 127, 21%, 8%;
    --green-3: 133, 37%, 12%;
    --green-4: 137, 56%, 15%;
    --green-5: 138, 56%, 19%;
    --green-6: 137, 54%, 23%;
    --green-7: 138, 54%, 27%;
    --green-8: 139, 58%, 31%;
    --green-9: 142, 71%, 45%;
    --green-10: 147, 100%, 36%;
    --green-11: 139, 66%, 55%;
    --green-12: 131, 78%, 82%;
    --neutral-1: 0, 0%, 4%;
    --neutral-2: 0, 0%, 9%;
    --neutral-3: 0, 0%, 13%;
    --neutral-4: 0, 0%, 16%;
    --neutral-5: 0, 0%, 19%;
    --neutral-6: 0, 0%, 23%;
    --neutral-7: 0, 0%, 28%;
    --neutral-8: 0, 0%, 38%;
    --neutral-9: 0, 0%, 43%;
    --neutral-10: 0, 0%, 48%;
    --neutral-11: 0, 0%, 71%;
    --neutral-12: 0, 0%, 93%;
    --ring: 0 0% 83.1%;
    --destructive: 0 100% 50%;
  }

  body {
    @apply text-neutral-12;
  }
}

@layer components {
  /* .gradient {
        position: relative;
        background-color: var(--neutral-1);
        height: 100%;
        z-index: 1;
    }

    .gradient::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        z-index: -1;
        background-image: linear-gradient(
            180deg,
            hsl(129deg 60% 93%) 0%,
            hsl(163deg 72% 93%) 20%,
            hsl(184deg 79% 94%) 40%,
            hsl(196deg 100% 97%) 60%,
            hsl(212deg 100% 98%) 80%,
            hsl(240deg 20% 99%) 100%
        );
    }

    .dark .gradient {
        background-color: hsl(0deg 0% 4%);
    }

    .dark .gradient::after {
        background-image: linear-gradient(
            180deg,
            hsl(124deg 29% 9%) 0%,
            hsl(126deg 24% 8%) 20%,
            hsl(129deg 19% 7%) 40%,
            hsl(120deg 10% 6%) 60%,
            hsl(120deg 8% 5%) 80%,
            hsl(0deg 0% 4%) 100%
        );
    } */

  .image-container {
    position: relative;
    display: inline-block;
  }

  .image-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, hsla(0, 0%, 50%, 0) 0%, hsl(0deg 0% 100%) 100%);
  }

  .dark .image-container::after {
    background: linear-gradient(to bottom, hsla(0, 0%, 50%, 0) 0%, hsl(0deg 0% 4%) 100%);
  }

  .background-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: -200px;
    z-index: 5;
  }
}
